<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <!-- Could inject author from model, e.g. "Orders for user" -->
        <h3>Order List</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.orderTime}"></td>
                    <td th:text="${order.status}"></td>
                    <td>
                        <!-- To be implemented if need further action, e.g. pay -->
                    </td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/order/history}" class="btn btn-secondary">Back</a>
    </div>

</body>

</html>